body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
    background-color: rgb(252, 194, 87);
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 168, 110);
    border: 4px solid rgb(255, 94, 0);
}
.object_name_label{
    font-weight: bold;
    font-size: 15px;
}
canvas{
    border-radius: 10px;
    background-color: red;
    box-shadow: 7px 7px 7px white;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}